<body class = 'trip_show_controller'>


<div >
  <div>
  <% if is_current_user? %>
    <%= link_to "Add new memory",  new_user_trip_memory_path(@trip.user,@trip) %>
  <% end %>
</div>
  <div id = "trips">
  <% @trip.memories.each do |memory| %>

    <div class ="trip-box" style="transform: rotate(<%= rand(-30..30)%>deg);">
      <%= link_to image_tag(memory.primary_img, :class => "memory-photo"), user_trip_memory_path(memory.user, memory.trip, memory) %>
      <h4 class = 'trip-desc'><%=  memory.activity %> </h4>
    </div>

    <% end %>

  </div>
</div>
</body>
