
<div >
  <h1><%= @trip.user.name%>'s trip to <%= @trip.location.city %></h1>

  <div id = "trips">
  <% @trip.memories.each do |memory| %>

    <div class ="trip-box">
      <%= link_to image_tag(memory.primary_img, :class => "memory-photo"), memory %>
      <h4 class = 'trip-desc'><%=  memory.activity %> </h4>
    </div>

    <% end %>

  </div>
</div>
