// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessions_controller {
background-image: url(map.jpg);
background-size: cover;
}

.link {
  background-color: #E8E3D7;
}
.link a {
  color: red;
}

#clear {
  background-color:  rgba(42, 43, 42, 0.6);
}
