// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users_controller {
background-color:rgb(237, 240, 244);
}

.main-header {
  background-color: rgb(62, 133, 185);
  color: white;
}

#login {
  margin: auto;
  text-align: center;
}

.right {
  float: right;
  margin-right:20px;
}

.form{
  text-align: center;
  font-size: 1.5em;
  margin: 15% auto;
  padding: 10px;
  width: 45%;
  background-color: rgb(42, 43, 42);
  color: black;
}

.form div{
padding: 20px;
}

.form-btn {
  padding: 10px;
}

.user-profile-img {
  width: 200px;
  border-radius: 25px;
}

#user-page {
  display: flex;
  justify-content: space-between;
}

#user-profile {
  background-color: white;
  color: black;
  text-align: center;
  width: 20%;
  font-size: 1.5em;
  padding: 10px;
  margin: 20px auto;

  }

  #user-feed {
  background-color: rgb(237, 240, 244);
  float:right;
  width: 45%;
  padding: 20px;
  margin: 20px auto;
  overflow:scroll;
  height:610px;
  }

  .user-trips-feed {
    padding: 20px;
    padding-bottom: 40px;
    margin: 20px;
    margin-bottom: 15px;
    background-color:white;
    box-shadow: -5px -5px rgba(175,175,175, 0.1);
  }

  .user-trip-heading {
    display: flex;
    text-align: left;
  }

  .feed-images {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr ;
  }

  .dark-grey {
    color: rgb(42, 43, 42);
  }
  .dark-grey-faded {
    color: rgba(42, 43, 42,0.5);
  }

  .light-grey {
    color: rgb(76, 76, 84);
  }

  .dark-blue {
    color: rgb(62, 133, 185);
  }

  .light-blue {
    color: rgb(109, 181, 224);
  }

  .justified {
    text-align: justify;
  }

  .left {
    text-align: left;
  }

  .bio {
    font-size: 16px;
  }

  // .btn{
  // margin: 5px;
  // }


  .small-profile {
    height: 50px;
    border-radius: 10px;
    padding-right: 20px;
  }

  .big-feed-img {
    width: 99%;
    padding-right: 5px;
  }

  .small-feed-img {
  width : 98%;
  }

  .add-section{
    background-color: white;
    width: 15%;
    margin: 20px auto;
  }

#new-user-form {
  text-align: center;
  color: black;
  background-color: #E8E3D7;
}

.form-data {
  padding: 10px;
  margin: 20px;
}

.flatiron_ad {
  width: 100%;
  padding:0px;
  margin-bottom:-10px;
}

.flatiron {
  padding-top:30px;
}

.error_message {
  color: red;
  list-style-type: none;
}
